body{
    font-family: Arial, Helvetica, sans-serif;
    background: #f4f4f4;
    height: 100vh;

    display: flex;
    justify-content: center;
    align-items: center;
}

.calculator{
    background: rgb(175, 132, 132);
    padding: 40px;
    width: 280px;
    border-radius: 18px;
    text-align: center;
}

.calculator input{
    width: 90%;
    padding: 6px;
    border: 3px solid black;
    border-radius:8px;
    font-weight: bolder;
    margin: 8px 0;
    background-color: burlywood;
}

.buttons button{
    width: 40px;
    height: 30px;
    margin: 10px;
    font-size: 20px;
    font-weight: bold;
    border: 3px solid rgb(101, 201, 76);
    border-radius: 4px;
    background-color: cadetblue;
    cursor: pointer;
}
