
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.navbar {
    background-color: #333;
    padding: 15px;
}

.navbar ul {
    list-style: none;
    display: flex;
    justify-content: center;
}

.navbar ul li {
    margin: 0 15px;
}

.navbar ul li a {
    text-decoration: none;
    color: white;
    font-size: 18px;
}


.navbar ul li a:hover {
    color: yellow;
}


.container {
    padding: 40px;
    text-align: center;
}

.container h1 {
    margin-bottom: 15px;
}

.container p {
    font-size: 16px;
}
